#projectDetails #mainContent {
  width: 87%;
  height: 100%;

  margin-top: 50px !important;
  margin: auto;
  background: var(--white);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

#projectDetails #mainContent .topContent {
  width: 100%;
  height: 70vh;

  display: flex;
  justify-content: space-between;

  padding: 30px;
}

#projectDetails #mainContent .topContent .leftContent {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}

#projectDetails #mainContent .topContent .leftContent iframe {
  width: 100%;
  max-width: 700px;
  height: 100%;

  margin-top: 20px;
}

#projectDetails #mainContent .topContent .leftContent h4 {
  font-size: 20px;
  font-weight: 600;
  color: var(--blue);

  text-transform: uppercase;
}

#projectDetails #mainContent .topContent .rightContent {
  width: 100%;
  max-width: 400px;
  height: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
}

#projectDetails #mainContent .topContent .rightContent .entrepreneur {
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;

  margin: 50px 0 30px 0;
  color: #999999;
}

.topContent .rightContent .entrepreneur img {
  width: 110px;
  height: 110px;
  border-radius: 50%;

  margin-bottom: 10px;
}

.topContent .rightContent .projectData {
  width: 100%;

  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;

  border-bottom: 1px solid #cccccc;

  margin-bottom: 40px;
}

.topContent .rightContent .projectData .dataBorder {
  border-right: 1px solid #cccccc;
}

.rightContent .projectData .projectDataItem {
  width: 100%;
  height: 40px;

  display: flex;
  align-items: center;
  flex-direction: column;

  font-size: 14px;
  color: #999999;
}

.rightContent .progressBar {
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.rightContent .progressBar .projectGoal {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #999999;
}

.rightContent a {
  padding: 10px;
  width: 100%;

  margin-top: 40px;
  color: #ffffff;
  font-weight: 600;

  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 4px;
  background: var(--blue);

  transition: all 0.3s ease-in-out;
}

.rightContent a:hover {
  filter: brightness(90%);
}

#projectDetails #mainContent .bottomContent {
  width: 95%;
  height: 50vh;

  margin: auto;
}
