#projectEntr {
  display: flex;
}

#projectEntr .content {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  flex-direction: column;
}

#projectEntr .content h3 {
  margin: 5px 20px 20px 20px;

  color: #3a3a3a;
}

.prjct {
  width: 95%;
  padding: 20px 0;
  /* height: 82vh; */

  display: flex;
  align-items: center;
  flex-direction: column;

  margin-top: 30px;

  border-radius: 3px;

  background-color: var(--white);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
}

.prjct .field {
  width: 70vw;

  display: flex;
  justify-content: space-between;
}

.prjct .field label {
  font-size: 12pt;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}

.prjct .field input {
  width: 30vw;
  height: 5vh;

  padding: 10px;

  border: none;
  border-radius: 2px;

  background-color: #e9e9e9;
}

.prjct .field select {
  width: 30vw;
}

.prjct .field input,
.prjct .field textarea,
.prjct .field select::placeholder {
  font-size: 14px;
}

.prjct .field textarea {
  width: 70vw;
  height: 10vh;

  padding: 10px;

  border: none;
  border-radius: 2px;

  background-color: #e9e9e9;
}

#projectEntr .content .prjct form button {
  width: 20vw;
  height: 5vh;

  margin: 30px;
  text-align: center;
  font-weight: 600;
  color: #fff;

  border: none;
  border-radius: 2px;

  background-color: var(--blue);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

.modalCriated,
.modalSpinner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.formButton {
  display: flex;
  align-items: center;
  justify-content: center;
}
