.projectBanner {
  width: 100%;
  height: 30vh;

  background-color: rgba(0, 0, 0, 0.3);
}

.projectsContentContainer {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.projectMain {
  width: 85%;
}

.projectMain .text {
  width: 20vw;

  padding: 6px;
  margin: 50px 0;

  background-color: var(--blue);
}

.projectMain .text h3 {
  font-size: 22px;
  font-weight: 600;

  color: #fff;
}

.projectMain .loadingProjects,
.projectMain .finishedProjects {
  width: 100%;
}

.projectMain .loadingProjects .projectContainer,
.finishedProjects .projectContainer {
  width: 100%;
  /* height: 40vh; */

  display: flex;
  align-items: flex-start;
}

.projectMain .loadingProjects .projectContainer a,
.finishedProjects .projectContainer a {
  text-decoration: none;
}

.loadingProjects .optionsButttons,
.finishedProjects .optionsButttons {
  width: 300px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #999999;
  margin: 15px 30px;
}

.loadingProjects .optionsButttons button,
.finishedProjects .optionsButttons button {
  width: 90px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: none;
  border: none;
  color: #999999;
  padding: 5px 0;

  transition: all 0.3s ease-in-out;
}

.loadingProjects .optionsButttons button:hover,
.finishedProjects .optionsButttons button:hover {
  color: var(--blue);
}
