#head header {
  width: 100%;
  height: 8vh;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  justify-content: space-around;

  background-color: var(--blue);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
}

#head header ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#head .link {
  padding: 30px 30px 15px 30px;
  /* margin-top: 20px; */

  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;

  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

#head .link:hover {
  background-color: #1683db;
  border-bottom: 8px solid #ffde00;
}
#head .link.active {
  background-color: #1683db;
  border-bottom: 8px solid #ffde00;
}

#head header .headerLogin {
  padding: 10px 20px;

  font-size: 15px;
  font-weight: 600;
  color: #fff;

  text-transform: uppercase;
  text-decoration: none;

  border: none;
  border-radius: 3px;

  background-color: #a7a9ac;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);

  transition: all 0.3s;
}

#head header .headerLogin:hover {
  filter: brightness(90%);
}
