@media (max-width: 425px) {
  .homeBox {
    width: 100%;
    height: 100vh;

    margin-top: 50px;
    margin-bottom: 100px;

    background-color: var(--dark-white);
    box-shadow: none;
  }

  .homeBox .txt {
    display: flex;
    flex-direction: column-reverse;
  }

  .homeBox .tex {
    margin: 10px;
  }

  .homeBox .text {
    margin: 10px;
  }

  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .homeBox .table table {
    background-color: #fff;

    margin-bottom: 50px;
  }
}
