#value {
  display: flex;
}

#value .content {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  flex-direction: column;
}

#value .content h3 {
  margin-top: 100px;

  color: #333;
}

#value .drawTable {
  width: 90%;
  height: 50vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 50px;
}

#value .drawTable table {
  width: 100%;
  background-color: #fff;
}

#value .drawTable thead {
  font-size: 12px;
  color: #fff;

  text-align: center;

  background-color: var(--blue);
}

#value .drawTable tr {
  font-size: 15px;
  font-weight: 600;

  text-align: center;
}

/* #value .drawTable tr:hover {
  background-color: var(--blue);
  color: #fff;
} */

#value .drawTable input {
  padding: 8px;

  border: none;
  background-color: #e9e9e9;
}

#value .drawTable button {
  width: 7vw;
  padding: 5px;

  margin-right: 5px;

  font-weight: 600;

  border: none;
  border-radius: 2px;

  color: #696666;
  background-color: #d7d7d7;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);

  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

#value .drawTable button:hover {
  color: #fff;
  background-color: var(--blue);
}

.modalData {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#value .drawTable .btnDisabled {
  cursor: not-allowed !important;
}
