#menu {
  width: 24vw;
  height: 100vh;

  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: var(--blue);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
}

#menu img {
  margin-top: 20px;
}

#menu h3 {
  text-align: center;

  margin-top: 40px;
  padding: 20px;

  color: var(--white);
  text-shadow: #000 1px 2px 1px;

  font-size: 18px;
  font-weight: 500;
}

.options .h4 {
  margin: 25px 0px 0px 10px;

  display: flex;
  align-items: center;

  text-align: center;

  color: var(--white);
  font-size: 14px;
  font-weight: 500;

  cursor: pointer;
}

.options h4:hover {
  background-color: #357df2;
}

.options .icon {
  font-size: 20px;
  margin-right: 5px;
}
