#psicometricTest {
  display: flex;
}

#psicometricTest .content {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.content .empty {
  margin-top: 50px;
}

#psicometricTest .content h3 {
  margin: 30px 20px 20px 20px;

  color: #3a3a3a;
}

#psicometricTest .content .levels {
  margin-top: 20px;
  width: 70%;
  height: 2vh;

  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

#psicometricTest .content .levels #bar {
  width: 100%;

  border: none;
}

.levels {
  margin-top: 10px;
  width: 70%;
  height: 2vh;

  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

.levels #bar {
  width: 100%;

  border: none;
}

.quizContainer {
  width: 70%;
  padding: 20px 40px;
  height: 70vh;

  display: flex;
  align-items: center;
  flex-direction: column;

  /* margin-top: 40px; */

  border-radius: 3px;
  /* border: 1px solid #e02041; */

  background-color: var(--white);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
}

.quizContainer .quizQuestion {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.quizContainer .quizQuestion .quizAnswers {
  width: 100%;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;
}
.quizContainer .quizQuestion .quizAnswers label {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  font-weight: 500;
}

.quizContainer .quizQuestion .quizAnswers label input {
  margin-top: 5px;
}

.quizContainer button {
  padding: 10px;
  width: 200px;
  margin: 10px;

  border: none;
  background-color: var(--blue);
  color: #ffffff;
  font-weight: 600;

  transition: all 0.3s ease-in-out;
  margin-top: 20px;
}

.quizContainer button:hover {
  filter: brightness(90%);
}

.quizContainer .next,
.previuos,
.confirm {
  display: none;
}

.modalTestData {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
