.partnersBanner {
  width: 100%;
  height: 6vh;

  margin-top: 50px;

  display: flex;

  background-color: #a8cffc;
}

.partnersBanner .space {
  width: 85%;

  display: flex;
  justify-content: space-between;

  margin: auto;
}

.partnersBanner h1 {
  font-size: 22px;

  color: #333;
}

.partnersBanner .space button {
  width: 15vw;

  border-radius: 20px;
  border: 2px solid var(--blue);

  background-color: var(--blue);

  font-size: 12px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: filter 400ms;
}

.partnersBanner .space button:hover {
  filter: brightness(90%);
}

#partnersMain {
  width: 100%;
  height: 80vh;

  margin-top: 30px;
}

#partnersMain select {
  width: 20vw;
  height: 4vh;

  padding: 5px;

  border: 1px solid #d7d7d7;
  border-radius: 5px;

  color: #333;
  font-weight: 600;

  margin: 30px;
  background-color: var(--white);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

#partnersMain .cardsTop {
  width: 90%;

  display: flex;
  justify-content: space-between;

  margin: auto;
}
