#partnerTwo .mainPartTwo {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#partnerTwo .mainPartTwo h3 {
  margin-bottom: 50px;

  color: #333;
}

#partnerTwo .mainPartTwo .levels {
  width: 60%;
  height: 1.5vh;

  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

#partnerTwo .mainPartTwo .levels #bar {
  width: 100%;

  border: nTwo;
}

#partnerTwo .mainPartTwo .contentPartTwo {
  width: 60%;
  height: 80vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: var(--white);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

#partnerTwo .mainPartTwo .contentPartTwo form {
  display: flex;
  flex-direction: column;
}

#partnerTwo .mainPartTwo .contentPartTwo form input {
  width: 40vw;
  height: 3.5vh;

  padding: 10px;
  border: none;

  background-color: var(--input-color);
}

#partnerTwo .mainPartTwo .contentPartTwo label {
  font-weight: 600;

  margin-top: 10px;
  margin-right: 10px;
}

#partnerTwo .mainPartTwo .contentPartTwo button {
  width: 15vw;
  height: 4vh;

  margin: 30px;

  border: none;
  border-radius: 3px;

  background-color: var(--blue);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);

  cursor: pointer;
  transition: filter 400ms;
}

#partnerTwo .mainPartTwo .contentPartTwo button:hover {
  filter: brightness(90%);
}
