#investorFour .mainInvestFour {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#investorFour .mainInvestFour h3 {
  margin-bottom: 50px;

  color: #333;
}

#investorFour .mainInvestFour .levels {
  width: 60%;
  height: 1.5vh;

  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

#investorFour .mainInvestFour .levels #bar {
  width: 100%;

  border: none;
}

#investorFour .mainInvestFour .contentInvestFour {
  width: 60%;
  height: 50vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: var(--white);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}
