#investorOne .mainInvestOne {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#investorOne .mainInvestOne h3 {
  margin-bottom: 50px;

  color: #333;
}

#investorOne .mainInvestOne .levels {
  width: 60%;
  height: 1.5vh;

  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

#investorOne .mainInvestOne .levels #bar {
  width: 100%;

  border: none;
}

#investorOne .mainInvestOne .contentInvestOne {
  width: 60%;
  height: 80vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: var(--white);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

#investorOne .mainInvestOne .contentInvestOne form {
  display: flex;
  flex-direction: column;
}

#investorOne .mainInvestOne .contentInvestOne form input {
  width: 40vw;
  height: 3.5vh;

  padding: 10px;
  border: none;

  background-color: var(--input-color);
}

#investorOne .mainInvestOne .contentInvestOne form select {
  width: 40vw;
  height: 3.5vh;
}

#investorOne .mainInvestOne .contentInvestOne label {
  font-weight: 600;

  margin-top: 10px;
  margin-right: 10px;
}

#investorOne .mainInvestOne .contentInvestOne button {
  width: 20vw;
  height: 4vh;

  margin-top: 60px;

  border: none;
  border-radius: 3px;

  color: #fff;
  background-color: var(--blue);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);

  cursor: pointer;
  transition: filter 400ms;
}

#investorOne .mainInvestOne .contentInvestOne button:hover {
  filter: brightness(90%);
}

#investorOne .mainInvestOne .contentInvestOne button .btn {
  color: #fff;
}
