#projectInvest #mainProject {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#mainProject .investmentContainer {
  width: 87%;
  height: 100%;

  margin-top: 50px !important;
  margin: auto;
  background: var(--white);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);

  display: flex;
  justify-content: space-between;

  padding: 40px;
}

.investmentContainer .containerLeft {
  width: 100%;
  max-width: 450px;

  display: flex;
  flex-direction: column;

  background: #f7f4f4;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);

  border-radius: 4px;
  padding: 10px;
}

.containerLeft .paymentType {
  width: 100%;

  display: flex;
  flex-direction: column;

  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px;
}

.paymentType .box {
  width: 100px;
  height: 80px;
  border: 1px solid #cac7c7;

  text-align: center;

  cursor: pointer;
}

.paymentType .boxActive {
  border: 1px solid var(--blue);
}

.containerLeft .paymentType .boxPaymenType {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 10px 0;
}

.containerLeft .boxAmount {
  display: flex;
  flex-direction: column;

  margin-top: 20px;
}

.containerLeft .boxAmount form .amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containerLeft .boxAmount form .amount p {
  padding-top: 30px;
}

.containerLeft .boxAmount button,
.containerLeft .creditCardGroup button {
  padding: 5px;
  margin: 20px 0;
  border: none;

  background: var(--blue);
  width: 100%;

  border-radius: 4px;

  color: #ffffff;
  font-size: 14px;
  font-weight: 500;

  transition: all 0.3s;
}

.containerLeft .formGroupCredit {
  display: flex;
  flex-direction: column;

  margin-top: 10px;
}

.containerLeft .formGroupCredit .inputBlocked {
  cursor: not-allowed;
}

.containerLeft input {
  padding: 5px;

  border: none;
  background: #cac7c7;
  border-radius: 4px;
}

.containerLeft .formCredit .formGroupFlex {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.formRight .boxAmount p.userBalance {
  color: #999999;
  font-weight: 500;

  margin-top: 10px;

  margin-bottom: -5px;
}

.investmentContainer .containerRight {
  width: 100%;
  max-width: 400px;
  height: 50vh;

  padding: 10px;

  background: #f7f4f4;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

.investmentContainer .containerRight .investmentProject {
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.investmentProject .projectName {
  margin-top: -20px;
  color: #999999;
}

.containerRight .investmentProject .entrepreneur {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin: 0 0 30px 0;
  color: #999999;
}

.investmentProject .entrepreneur img {
  width: 110px;
  height: 110px;
  border-radius: 50%;

  margin-bottom: 10px;
}

.investmentProject .projectData {
  width: 100%;

  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;

  border-bottom: 1px solid #cccccc;

  margin-bottom: 40px;
}

.investmentProject .projectData .dataBorder {
  border-right: 1px solid #cccccc;
}

.investmentProject .projectData .projectDataItem {
  width: 100%;
  height: 40px;

  display: flex;
  align-items: center;
  flex-direction: column;

  font-size: 14px;
  color: #999999;
}

.containerRight .progressBar {
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.containerRight .progressBar .projectGoal {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #999999;
}

.modalPayment {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
