@media (max-width: 1024px) {
  #projectInvest #mainProject .investmentContainer {
    width: 100%;

    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .investmentContainer .containerLeft,
  .investmentContainer .containerRight {
    max-width: 700px;
  }

  .investmentContainer .containerRight {
    height: 28vh;

    margin-top: 30px;
  }
}

@media (max-width: 600px) {
  #projectInvest #mainProject .investmentContainer {
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .investmentContainer .containerLeft,
  .investmentContainer .containerRight {
    max-width: 100%;
  }

  .investmentContainer .containerRight {
    height: 400px !important;
    margin-top: 30px;
  }
}
