@media (max-width: 600px) {
  #teamMain {
    width: 100%;
    padding: 20px;
  }

  #teamMain .teamCards {
    width: 100%;
    margin-top: 40px;

    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
