#teamMain {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#teamMain h2 {
  margin-top: 50px;

  text-transform: uppercase;

  color: var(--blue);
}

#teamMain .teamCards {
  margin-top: 40px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
