.confirmEmailContainer {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.confirmEmailContent {
  width: 500px;
  height: 300px;

  background-color: #fff;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  flex-direction: column;
}

.modalConfirmEmail {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
