#cards {
  width: 25vw;

  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--white);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

#cards img {
  width: 120px;
  height: 120px;

  border-radius: 50%;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

#cards h4 {
  margin-top: 20px;

  color: var(--blue);
}

#cards p {
  font-weight: 600;

  color: #999999;
}

#cards .cardIcons {
  display: flex;
  align-items: center;
}

#cards .cardIcons .icons {
  font-size: 40px;

  margin: 10px;

  color: #999999;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#cards .cardIcons .icons:hover {
  color: var(--blue);
}
